body 
{
	/*height: 1000px;*/
	margin: 0px;
	overflow-x: hidden;
	background-image: url('../Image/background.png');
}

#bodyBox
{
	width: inherit;
	height: inherit;
}

#header
{
	width: 100%;
	height: 150px;
}

#banner
{
	position: absolute;
	width: 663px;
	height: 150px;
	background-image: url('../Image/frame.png');
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: -1;
}

.tabs a 
{
	float: left;  
	width: 90px;
	height: 30px;

	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;
	padding-top: 10px;
	text-align: center;  
	color: black;

	border-style: solid;
	border-color: black;
	border-width: 0px;
	border-right-width: 1px;
	border-left-width: 1px;

	background: -webkit-linear-gradient(left, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: -o-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1)); 
	background: -moz-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,208,1,1) );
}

.tabs a:hover
{
	background: -webkit-linear-gradient(left, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: -o-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black); 
	background: -moz-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,258,1,1) );
}

#tabStart{border-radius: 20px 0 0 0;}
#tabEnd{border-radius: 0 20px 0 0;}

#navigationBar
{
	position: relative;
	top: 110px;
	width: 460px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

/* ---- ---- ---- ---- ---- */

#presentationBox
{
	width: 100%;
	height: 95.37%;
	background-image: url('../Image/backgroundPresentation.png');
	
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;

	-webkit-border-image: -webkit-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	-moz-border-image: -moz-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;  
	-o-border-image: -o-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	border-image: linear-gradient(to right, black, rgba(175, 99, 25, 1), black) 1 1 100%; 

	background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1));
	background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1)); 
	background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1));
	background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1));

}

#contentBlock
{
	position: relative;
	width: 600px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	background-image: url('../Image/backgroundPresentation.png');
	
	border-top: 1px;
	border-style: solid;
	border-bottom: 1px;
	/*border: 1px solid rgba(175, 99, 25, 1);*/
	border-image: linear-gradient(90deg, black, rgba(175, 99, 25, 1), black) 1 1 100%;
}

#footer
{
	width: 100%;
	height: 50px;
	bottom: 0;
	/*background-image: url('../Image/background.png');*/
	background-color: red;
	
/*	border-top: 1px;
	border-bottom: 0px;
	border-style: solid;

	-webkit-border-image: -webkit-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	-moz-border-image: -moz-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;  
	-o-border-image: -o-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	border-image: linear-gradient(to right, black, rgba(175, 99, 25, 1), black) 1 1 100%; */
}





























































































/*
body 
{
	overflow-x: hidden;
	margin: 0px;
	background-image: url('../Image/background.png');
}

#line
{
	position: absolute;
	top: 500px;
	width: 105%;
	height: 2px;
	background-color: darkred;
	margin-left: -5px;
	border-color: black;
	border-width: 3px;
	border-style: ridge;
}

#lightEffect
{
	padding-bottom: 80px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
	background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1)); 
	background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
	background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1));
}

#backImage 
{
	width: 100%;
	height: 500px;
	background-image: url('../Image/backImage.png'); 
	color: white;
	font-size: 16pt;
}



#page
{
	position: relative;
	top: -250px;
	width: 1000px;
	height: 1000px;
	background-color: #808080;
	margin: auto;
	background-image: url('../Image/pageTexture.png');
}

#pageNavigation
{
	position: relative;

	width: 135px;
	height: 100%;

	float: left;
	top: -75px;
	background-color: rgb(42,19,0);
}

#pageContent
{
	position: relative;

	float: left;
	margin-left: 20px;
	
	width: 820px;
	height: 95%;
	top: -50px;

	border-color: rgba(55,55,55,0.75);
	border-width: 1px;
	border-style: dashed;
}



#titleBox
{
	position: relative;

	width: 449px;
	height: 75px;
	top: -75px;
	margin-left: 135px;

	background-image: url('../Image/title.png');
}

#title
{
	width: 349px;
	height: 75px;
	padding-top: 12px;
	padding-left: 20px;
	text-align: left;
	font-size: 32pt;
	font-style: bold;
	font-family: Stencil;
	color: silver;
}



#portrait
{
	position: absolute;
	top: -125px;
	left: -125px;

	width: 250px;
	height: 250px;

	background-image: url('../Image/portrait.png');

	border-width: 5px;
	border-style: ridge;

	background-color: white;

	z-index: 3;
}

#mapKeys
{
	position: fixed;
	top: 40%;
	margin-left: 1000px;
	width: 75px;
	height: 350px;
	background-color: #B0B0B0;

	background-image: url('../Image/mapkeysTexture.png');
}

#mapKeysRight
{
	float: right;
	width: 25px;
	height: 25px;
	background-color: orange; 
}
*/
