body {
	height: 895px;
	margin: 0px;
	overflow-x: hidden;
	background-image: url('../Image/background.png');

	scrollbar-face-color: darkorange;
	scrollbar-shadow-color: rgb(25,15,5);  
	scrollbar-track-color: black; 
	scrollbar-arrow-color: rgb(175, 99, 25);   
}

#bodyBox{
	width: inherit;
	height: inherit;
}

#header{
	width: 100%;
	height: 150px;
}

#banner{
	position: absolute;
	/*width: 663px;*/
	width: 1920px;
	height: 150px;
	background-image: url('../Image/frame.png');
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: -1;
}

.tabs a {
	float: left;  
	width: 90px;
	height: 30px;

	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;
	padding-top: 10px;
	text-align: center;  
	color: black;

	border-top: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	border-style: solid;

	background: -webkit-linear-gradient(left, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: -o-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1)); 
	background: -moz-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,208,1,1) );
}

.tabs a:hover{
	background: -webkit-linear-gradient(left, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: -o-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black); 
	background: -moz-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,258,1,1) );
}

#tabStart{border-radius: 20px 0 0 0; margin-right: -1px; }
#tabEnd{border-radius: 0 20px 0 0;}

#navigationBar{
	z-index: 1;
	position: relative;
	top: 110px;
	width: 460px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

#presentationBox{
	/*position: relative;*/
	width: 100%;
	height: 95.37%;
	border: 0px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;

	-webkit-border-image: -webkit-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	-moz-border-image: -moz-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;  
	-o-border-image: -o-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	border-image: linear-gradient(to right, black, rgba(175, 99, 25, 1), black) 1 1 100%; 

	background: -webkit-linear-gradient(left, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1));
	background: -o-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1)); 
	background: -moz-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1));
	background: linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,0.05), rgba(0,0,0,0.05), rgba(0,0,0,1));
}

#glowEffect{
	position: absolute;
	width: 850px;
	height: 550px;

	padding: 50px 50px 100px 50px;
	margin: 0px 0px 0px -25px ;

	opacity: 1;
	background: url("../Image/glowEffect.png") no-repeat;
}

#slide{
	z-index: 3; 
	opacity: 1;
	position: relative;
	width: 900px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;

	background-image: url('../Image/backgroundBlock.png');
	
	border: 0px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;

	-webkit-border-image: -webkit-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	-moz-border-image: -moz-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;  
	-o-border-image: -o-linear-gradient(right, black, rgba(175, 99, 25, 1), black) 1 1 100%;
	border-image: linear-gradient(to right, black, rgba(175, 99, 25, 1), black) 1 1 100%; 
}

#pageDeck{
	visibility: hidden;
	position: absolute;
	width: 100%;
	height: 70px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: dashed;
	border-color: rgba(175, 99, 25, .75);
	border-radius: 0% 0% 100% 100%;
}

#pageDeckBar{
	list-style: none;
	width: 357px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

#lCorner{
	float: left;
	margin-left: -125px;
}

#rCorner{
	float: right;
	margin-right: -126px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#lCorner, #rCorner{	margin-top: -30px;width: 126px; height: 60px; background-image: url('../Image/corner.png');}

.miniTab a {
	float: left;
	margin-left: 1px;
	width: 50px;
	height: 30px;

	text-decoration: none;
	font-size: 20pt;
	text-align: center;
	color: black;

	background: -webkit-linear-gradient(left, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: -o-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1)); 
	background: -moz-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: linear-gradient(180deg, rgba(175, 99, 25, 1), rgba(250,208,1,1) );
}

.miniTab a:hover{
	background: -webkit-linear-gradient(left, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: -o-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black); 
	background: -moz-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: linear-gradient(180deg, rgba(175, 99, 25, 1), rgba(250,258,1,1) );
}

#darkEffect{
	visibility: hidden;
	z-index: 2;
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: linear-gradient(180deg, rgba(5,3,1,.75) , rgba(0,0,0,1) );
}

#slide #content{
	z-index: 5;
	position: relative;
	background-color: rgba(100,100,100,0.05);
	width: 890px;
	height: 692px;

	padding-left: 10px;
	padding-top: 10px;
	margin-top: -2px;
	color: rgba(175, 99, 25, 1);
}

#slide #content h1{
	position: absolute;
	width: 880px;
	height: 40px;
	margin-top: -50px;
	color: rgba(175, 99, 25, 1); 
	text-align: center;
	font-size: 30px;
	color: gold;

	background-image: url('../Image/bottomBorder.png');
}

#slide #content h2{
	position: absolute;
	width: 200px;
	height: 40px;
	top: 101.25%;
	text-align: center;
	font-size: 30px;
	color: orange;
	opacity: .05;
	left: 50%;	
	transform: translate( -50%, 0%);
}

#leftBorder{
	float: left;
	margin-left: -75px;
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

#rightBorder{
	float: right;
	margin-right: -75px;
}

#rightBorder, #leftBorder {
	position: relative;
	width: 75px;
	height: 766px;
	margin-top: -27px;
	background-image: url('../Image/curvyBorder.png');
}


.helper{
	opacity: 0;
	position: relative;
	z-index: 5;
	width: 125px;
	height: 100px;

	color: darkorange;
	font-size: 25px;
	text-align: center; 

	padding-top: 10px;

	border: 0px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgb(49,28,7);

	margin-top: -410px;

	background-color: rgb(6,6,6);
} 

#rightArrowHelper{
	float: right;
	border: 0px;
	border-left: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgb(49,28,7);
	border-radius: 100% 0% 0% 100%;
} 
#leftArrowHelper {
	float: left;
	border: 0px;
	border-right: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgb(49,28,7);
	border-radius: 0% 100% 100% 0%;
}

#slide #border{width:inherit;height:inherit;border: 1px solid rgba(175, 99, 25, .01);} 

#rightArrow-sub{ float:right; background: url("../Image/signRight.png") no-repeat;margin-right: 400px;}
#leftArrow-sub{	float:left;	background: url("../Image/signLeft.png") no-repeat;margin-left: 400px;}
#rightArrow-sub a { float: right; padding-right: 60px;}
#leftArrow-sub a { float: left; padding-left: 60px;}

.subs{
	margin-top: 10px;
	opacity: 0;
	/*.125; ////////////////////////////////////////////////////////////////////*/
	position: relative;
	width: 43px;
	height: 60px;
}

.subs a{
	position: relative;
	font-size: 20pt;
	color:orange;

	top: 50%;
	transform: translate( 0%, -50%);
}

.slideBtn{
	position: relative;
	width: 150px;
	height: 700px;
	top: 25px;
	opacity: 0; //////////////////////////////////////////////////////////////

	border: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 1px;
	border-bottom: 0px;
	border-style: solid;
	border-color: rgba(175, 99, 25, .25);

	border-radius: 0% 100% 100% 0%;

	background: url("../Image/arrow.png");
	background-repeat: no-repeat;
	background-position: 90% center; 
	background-color: rgba(20,15,0,.1);

}

.slideBtn img{
	z-index: -1;
	position: relative;
	width: 85px;
	height: 85px;
	top: 312.5px;
	left: 75px;
}

#handIcon{	
	position: relative;
	width: 85px;
	height: 50px;
	margin: auto;
	margin-top: 25px;
	background: url("../Image/grabArea.png") no-repeat;
	opacity: 0; ///////////////////////////////////////////////////////////////////////
}

#grabArea{
	z-index: 10;
	width: 896px;
	height: 90px;
	margin: auto;
	margin-top: -103px;
	opacity: 0;///////////////////////////////////////////////////////////////////////////

	border: 0px;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px;
	border-style: solid;
	border-color: rgba(175, 99, 25, .25);
	border-radius: 0% 0% 100% 100%;
	background-color: rgba(20,15,0,.1);
	cursor: col-resize;
}

#footer{
	width: 100%;
	height: 100px;
	bottom: 0;
}

#footer #text{
	position: relative;
	width: 1000px;
	height: 20px;
	margin-left: auto;
	margin-right: auto;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.05),rgba(255,255,255,0));
	background: -o-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.05),rgba(255,255,255,0)); 
	background: -moz-linear-gradient(right, rgba(255,255,255,0), rgba(255,255,255,0.05),rgba(255,255,255,0));
	background: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.05),rgba(255,255,255,0));
	top: 50%;
	transform: translate( 0%, -50%);
	text-align: center;
	color: orange;
	font-size: 11pt;
}

#footer #text a{color: darkred;text-decoration: none;}
#footer #text a:hover{color: brown;}

/*///////////////////////////////////////////////////////////////////////////*/

#hint{
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	position: absolute;
	width: 340px;
	height: 140px;
	border: 1px;
	border-style: solid;
	border-color: rgba(175, 99, 25, 1);

	background-color: rgba(25,15,5,1);
	padding: 10px;

	color: orange;
	font-size: 10pt;
	text-align: left;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

#pageContent{
	position: relative;
	width: 880px;
	height: 661px;
	font-size: 11pt;
	color: rgba(175, 99, 25, 1);
	/* The below point is used to */
	padding-top: 20px; 
	/*background-color: white;*/
}

/*   -----------------------------------------------------------------------------------------------------------------  */
/*   ---------                                           HOME                                       ------------------  */

#Portrait{
	position: relative;
	width: 135px;
	height: 180px;

	float: left;
	margin: 0px 0px 0px 30px;
	background-image: url("../Image/portrait.png");
}

#MessageContent-1{
	position: relative;
	float: right;
	width: 695px;
}

#MessageContent-2{
	position: relative;
	width: 490px;
	height: 320px;
	padding-top: 10%;
	padding-left: 44%;
	margin-top: -20px;
	background: url("../Image/mapping.png") no-repeat;
}

.bCircle{
	float: left;
	width: 16px;
	height: 16px;
	margin: 5px 5px 0px 0px;
	color: orange;
	text-align: center;

	border: 1px;
	border-style: solid;
	border-radius: 100%;

	background-color: rgba(36,27,13,.25);
	border-color: rgba(197,128,5,.5);
}


/*   -----------------------------------------------------------------------------------------------------------------  */
/*   ---------                                           ARTICLES                                   ------------------  */
#UnderConstruction{
	position: relative;
	width: 590px;
	height: 300px;
	text-align: center;
	font-size: 24pt;
	top: 40%;
	left: 50%;
	transform: translate( -50%, -50%);

	border-top: 0px;
	border-left: 1px;
	border-right: 0px;
	border-bottom: 5px;
	border-style: double;
	border-color: rgba(175, 99, 25, .25);
	border-radius: 100%;
}




/*   -----------------------------------------------------------------------------------------------------------------  */
/*   ---------                                           PROJECTS                                   ------------------  */
#projectBar{
	width: 898px;
	height: 22px;
	margin-top: -30px;
	margin-left: -9px;
	list-style: none;
}

#projectBar a{
	text-decoration: none;
	float: left;
	width: 178px;
	height: 18px;

	font-size: 13pt;
	font-weight: bold;
	text-align: center;
	padding-top: 0px;
	left: 1px;
	margin-left: 1px;

	color: black;

	background: -webkit-linear-gradient(left, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: -o-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1)); 
	background: -moz-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,208,1,1) );
}

#projectBar a:hover, #projectBar a:active{
	background: -webkit-linear-gradient(left, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: -o-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black); 
	background: -moz-linear-gradient(right, rgba(230, 125, 55, 1), rgba(175, 99, 25, 1), black);
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,258,1,1) );
	cursor:pointer;
	color: brown;
}

#projectTable{
	position: relative;
	width: 894px;
	height: 677px;
	margin-left: -8px;
	background-color: maroon;
}

/*@@@@@@@@@@@@*/
#projectListingArea{
	list-style: none;
	position: relative;
	width: 889px;
	height: 100px;
	padding: 5px 0px 0px 5px;

	background-color: rgba(0,0,0,.5);
}

#projectListingID{
	position: relative;
	width: inherit;
	height: 18px;
	text-align: center;
	color: orange;	
	left:50%;
	transform: translate(-50%,0%);
	background-color: black;

/*	background: -webkit-linear-gradient(left, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: -o-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1)); 
	background: -moz-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,208,1,1) );*/
}

.projectListItem{
	position: relative;
	width: 60px;
	height: 60px;
	float: left;
	margin-top: 10px;
	margin-left: 35px;
	vertical-align: middle;
	text-align: center;
	background-color: black;
} 

.projectListItem a{
	top: 105%;
	font-size: 7pt;
	font-weight: bold;
	position: relative;
} 
/*@@@@@@@@@@@@*/

#projectPreviewArea{
	float: left;
	position: relative;
	top: 8px;
	left: 10px;
	width: 423px;
	height: 615px;
	padding: 10px 0px 0px 10px;
	text-align: center;

	/*background-color: black;*/
}
#projectPreviewSlideShow{
	position: relative;
	width: 413px;
	height: 250px;
	border: 1px;
	border-style: solid;
	border-color: rgba(175, 99, 25, 1);

	/*background-color: red;*/
}

#projectPreviewSlideNavigation{
	position: relative;
	list-style: none;
	width: 411px;
	height: 20px;
	top: -22px;
	left: 2px;
	border-top: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
	border-style: solid;
	border-color: rgba(175, 99, 25, 1);

	background:	rgba(18,6,2,.9);
}

#projectPreviewSlideNavigation:hover {cursor: default;}

#projectPreviewSlideNavigation li a{
	position: relative;
	top: -6px;
	margin-left: 5px;
	font-size: 27px;
	color: gray;
	/*background-color: red;*/
}

#projectPreviewSlideNavigation li a:hover, 
#projectPreviewSlideNavigation li a:active{cursor: pointer;color: gold;}

#projectPreviewDescription{
	position: relative;
	padding: 10px;
	text-align: justify;
	width: 393px;
	height: 305px;
	top: -20px;
	border-top: 0px;
	border-right: 1px;
	border-bottom: 1px;
	border-left: 1px;
	border-style: solid;
	border-color: rgba(175, 99, 25, 1);

	background-color: rgba(0,0,0,.75);
}

#pageBox{
	overflow: hidden;
	position: relative;
	width: 892px;
	height: 553px;
	border: 1px;
	border-color: white;
	border-style: solid;
	background-color: gray;
/*	top:50%;
	left:50%;
	transform: translate(-50%,-80%);*/
}

#pageBank{
	position: relative;
	width: 892px;
	height: auto;
	background-color: orange;
}

.pageClass{
	position: relative;
	width: inherit;
	height: 553px;

	background-color: navy;
	text-align: center;
	font-size: 20pt;
	color: white;
	background: -webkit-linear-gradient(left, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: -o-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1)); 
	background: -moz-linear-gradient(right, rgba(175, 99, 25, 1), rgba(250,208,1,1));
	background: linear-gradient(0deg, rgba(175, 99, 25, 1), rgba(250,208,1,1) );
}

#btnT1{
	position: relative;
	width: 50px;
	height: 50px;
	left: 725px;
	top: -175px;
	background: url("../Image/btnArrowInactive.png") no-repeat;

	-moz-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	transform: scaleY(-1);
	filter: FlipV;
	-ms-filter: "FlipV";
}

#btnT2{
	position: relative;
	width: 50px;
	height: 50px;
	left: 725px;
	top: -175px;
	background: url("../Image/btnArrowInactive.png") no-repeat;
}

#btnT1:hover, #btnT1:active, #btnT2:hover, #btnT2:active{
	background: url("../Image/btnArrowActive.png") no-repeat;
	cursor: pointer;
}

/*   -----------------------------------------------------------------------------------------------------------------  */
/*   ---------                                           ABOUT                                      ------------------  */



/*   -----------------------------------------------------------------------------------------------------------------  */
/*   ---------                                           CONTACT                                    ------------------  */

#contactContent{
	position: relative;
	width: inherit;
	height: inherit;
	/*padding-top: 20px;*/
}

#contactContent a {color: rgba(45,30,15,1); text-decoration: none;}
#contactContent a:hover {color: rgba(135,90,45,1);}

#contactImg{
	position: relative;
	float: left;
	top: 0px;
	width: 380px;
	height: 600px;
	background: url("../Image/figureContact.png");
	/*background-color: maroon;*/
}

h3{
	margin-bottom: 10px;
	font-size: 18pt;
}

/*///////////////////////////////////////////////////*/
#sFX{
	position: absolute;
	width: 300px;
	height: 300px;
}